.content{
    text-align: center;
    border: 1px solid #564;
    display: inline-block;
    border-radius: 100%;
    width: 50vh;
    height: 80vh;
    background:	#FFCF60;
    border-radius: 50%;
    margin-top: 5vh;
    /* position: fixed; */
}

.content ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    color:#8D5524;
    font-size: 26px;
    padding-top: 30px;
    font-weight: 600;
}

.car-name{
    padding-top: 40px;
    font-size: 25px; 
    color: #8D5524;
    
}
.ethcount{
    position: relative;
    color: #8D5524;
    font-size: 26px;
    font-weight: 600;
    padding-top: 50px;
}

.car-img{
    max-height: 25vh;
    max-width: 75%;
    padding-top: 40px;
}
.car-img:hover{
    transform: scale(1.03);
    transition: all .3s ease-in-out;
    cursor: pointer;
}



.drop{
    border: none;
    background-color: #c68642;
    border-radius: 20px;
    font-size: 24.8px;
    color: #fecf67;
    padding: 10px;
    font-weight: 550;
    margin-top: 5vh; 
}

.drop:hover{
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: scale(1.03);
}


